# import 'macro/forms.html' as forms

<form method="POST" action="." novalidate>
  {{form.csrf_token}}
  {{forms.email_field(form.email, autofocus=True, class='form-control input-lg')}}
  {{forms.recaptcha_field(form.recaptcha)}}

   <div class="form-group">
    <div class="form-control-static">
      <a class="thumbnailLocation" href="{{url_for('signin', next=next_url)}}">Already have an account?</a>
    </div>
  </div>

  <div class="controls">
    <button type="submit" class="btn btn-block btn-lg btn-primary btn-loading" {{forms.data_loading_text()}}>
    CREATE ACCOUNT
    </button>
  </div>
  
</form>