<footer class="footer">
  <div class="container">
      <ul>
        <li class="linkFooter"><a class="linkFooterGrey" href="https://www.facebook.com/favorite.places.saved/">FACEBOOK</a></li>
        <li class="linkFooter"><a class="linkFooterGrey" href="https://www.instagram.com/daspots/">INSTAGRAM</a></li>

        <li class="linkFooter"><a class="linkFooterWhite" href="{{url_for('about')}}">ABOUT</a></li>
        <li class="linkFooter"><a class="linkFooterWhite" href="{{url_for('contact')}}">CONTACT</a></li>
        <li class="linkFooter"><a class="linkFooterWhite" href="{{url_for('newsletter')}}">SIGN UP FOR OUR NEWSLETTER</a></li>
        <li class="linkFooter" >&copy; 2017 - DASPOTS</li>
      </ul>  
  </div>
</footer>
