<!-- begin jumbotron -->
<div class="jumbotronNewsletter">
	<div class="container">
		<div class="row">
    	
    	<div class="col-sm-6 col-md-12">
		 
		<!-- begin icon  -->
		 <img class="newsletterIcon" src="https://i.imgur.com/PCeLZK8.png">

      	<h1 class="h1CenterSmall">SIGN UP FOR DASPOTS EMAIL</h1>

      	<p class="pCenterBig"> Be the first to know about the latest updates and new places from DASPOTS.
      	<br>
      	<br>
		<br>
		<!-- begin link -->
      	<a class="linkCenter" href="{{url_for('newsletter')}}">SIGN UP</a>
      	<br>
      	<br>
		<br>
		</p>

		</div>

		</div>
	</div>
</div> 
<!-- end jumbotron -->

	