<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="All the favorite restaurats you need to know about in New York. On DASPOTS you can find favorite places of people who are passionate about food. We aren't your everyday mainstream recommendation site...we just share the cool, undiscovered and authentic places by insiders who love food as much as you.">
<meta name="keywords" content="city guide, tips, gems, recommendations, hidden gems, New York, where to eat, food, drinks, travel, ">
<meta name="author" content="DASPOTS">

<title>All the favorite restaurats you need to know about in New York. On DASPOTS you can find favorite places of people who are passionate about food. We aren't your everyday mainstream recommendation site...we just share the cool, undiscovered and authentic places by insiders who love food as much as you.</title>