<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="Favorite restaurants of people who are passionate about food - they work in the industry, they care about great ingredients and they leave no bad vibes..they just share the best places to eat and drink.">
<meta name="author" content="DASPOTS">

<title>Favorite restaurants of people who are passionate about food - they work in the industry, they care about great ingredients and they leave no bad vibes..they just share the best places to eat and drink.</title>