<center>
    <br>
  <div class="card box" id = "loginform" style="width:66%;text-align:left">

    <div class="card-block" >
       <button type="button" class="btn btn-default btn-md pull-right  close-icon">
                <span class="pull-right glyphicon glyphicon-remove" aria-hidden="true"></span>
       </button>
        <h4 class="card-title">You have to be signed in to Follow</h4>

      <p class="card-text">
          Following a Recommender lets you get notified every time he or she gives a new recommendation!
      </p>
      <p>
        <a href="/signin/" class="btn btn-primary">Sign in</a> or <a href="/signup/" class="btn btn-primary">Sign up</a>
      </p>
    </div>

  </div>

</center>