# if config.DEVELOPMENT
  <link rel="stylesheet" href="/p/dev/style/style.css?{{config.CURRENT_VERSION_ID}}">
  
  <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

  <!-- Icons -->   
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

# else

  <link rel="stylesheet" href="/p/min/style/style.css?{{config.CURRENT_VERSION_ID}}">
# endif
