# if current_user.id > 0

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{current_user.name}}
    </a>

    <!-- begin dropdown admin-->
    <ul class="dropdown-menu">
      # if current_user.admin

        <!-- create post -->
        <li class="navbarList {{'active' if html_class == 'post-create'}}">
          <a class="navbarListElementColor" href="{{url_for('post_create')}}">CREATE POST</a>
        </li>

        <!-- poost list -->
        <li class="navbarList {{'active' if html_class == 'post-list'}}">
          <a class="navbarListElementColor" href="{{url_for('post_list')}}">POST LIST</a>
        </li>

        <!-- create recommender -->
        <li class="navbarList {{'active' if html_class == 'recommender-create'}}">
          <a class="navbarListElementColor" href="{{url_for('recommender_create')}}"></i> CREATE RECOMMENDER</a>
        </li>

        <!-- recommender list -->
        <li class="navbarList {{'active' if html_class == 'recommender-list'}}">
          <a class="navbarListElementColor" href="{{url_for('recommender_list')}}"> RECOMMENDER LIST</a>
        </li>

        <!-- add create guide -->
        <!-- add guide list -->

        <li class="divider"></li>

        <li><a class="user-menu" href="{{url_for('admin')}}">ADMIN</a></li>
        <li class="divider"></li>

      # endif

    <!-- list user -->

       <!-- about -->
       <li class="navbarList {{'active' if html_class == 'about'}}">
        <a class="navbarListElementColor" href="{{url_for('about')}}">
            ABOUT
        </a>
       </li>

       <!-- meet insiders -->
       <li class="navbarList {{'active' if html_class == 'recommender_overview'}}">
        <a class="navbarListElementColor" href="{{url_for('recommender_overview')}}">
            MEET OUR INSIDERS
        </a>
       </li>

       <!-- guides -->
       <li class="navbarList {{'active' if html_class == 'stories'}}">
        <a class="navbarListElementColor" href="{{url_for('stories')}}">
            GUIDES
        </a>
       </li>

<!--        <li class="navbarList  {{'active' if html_class == 'starred'}}">
          <a class="navbarListElement" href="{{url_for('post_list_u')}}">
            MY SPOTS
          </a>
       </li> -->

      <!-- <li><a class="user-menu" href="{{url_for('profile')}}">SETTINGS</a></li>

      <li><a class="user-menu" href="{{url_for('signout')}}">SIGN OUT</a></li> -->

    </ul>
  </li>

# else
  <!--<li class="{{'active' if html_class.find('auth') != -1}}">-->
    <!--<a class="sinActive" href="{{url_for('signin')}}">SIGN IN</a>-->
  <!--</li>-->
# endif


