# if current_user.id > 0
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{current_user.name}}
    </a>
    <ul class="dropdown-menu">
      # if current_user.admin
        <li class="navbarList {{'active' if html_class == 'post-create'}}">
          <a class="navbarListElement" href="{{url_for('post_create')}}">CREATE POST</a>
        </li>
        <li class="navbarList {{'active' if html_class == 'post-list'}}">
          <a class="navbarListElement" href="{{url_for('post_list')}}">POST LIST</a>
        </li>
        <li class="navbarList {{'active' if html_class == 'recommender-create'}}">
          <a class="navbarListElement" href="{{url_for('recommender_create')}}"></i> CREATE RECOMMENDER</a>
        </li>
        <li class="navbarList {{'active' if html_class == 'recommender-list'}}">
          <a class="navbarListElement" href="{{url_for('recommender_list')}}"> RECOMMENDER LIST</a>
        </li>


        <li class="divider"></li>
        <li><a class="user-menu" href="{{url_for('admin')}}">ADMIN</a></li>
        <li class="divider"></li>
      # endif
       <li class="navbarList {{'active' if html_class == 'recommender_overview'}}">
        <a class="navbarListElementColor" href="{{url_for('recommender_overview')}}">
            MEET OUR SPOTTERS
        </a>
       </li>
       <li class="navbarList  {{'active' if html_class == 'starred'}}">
          <a class="navbarListElement" href="{{url_for('post_list_u')}}">
            MY SPOTS
          </a>
       </li>
      <li><a class="user-menu" href="{{url_for('profile')}}">SETTINGS</a></li>
      <li><a class="user-menu" href="{{url_for('signout')}}">SIGN OUT</a></li>
    </ul>
  </li>
# else
  <li class="{{'active' if html_class.find('auth') != -1}}">
    <a class="sinActive" href="{{url_for('signup')}}">SIGN IN</a>
  </li>
# endif


