# if current_user.id > 0
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{current_user.name}}
    </a>
    <ul class="dropdown-menu">
        <li><a class="user-menu" href="{{url_for('profile')}}">PROFILE</a></li>
      # if current_user.admin
        <li class="divider"></li>
        <li><a class="user-menu" href="{{url_for('admin')}}">ADMIN</a></li>
        <li class="divider"></li>
      # endif
      <li><a class="user-menu" href="{{url_for('signout')}}">SIGN OUT</a></li>
    </ul>
  </li>
# else
  <li class="{{'active' if html_class.find('auth') != -1}}">
    <a class="sinActive" href="{{url_for('signin')}}">SIGN IN</a>
  </li>
# endif


