<!-- jumbotron -->
 <div class="container-fluid">
    
  <!-- picture -->
  <div class="col-md-8">
    <img class="img-fluid-welcome" src="/p/img/Greenpoint F&L_1000x561.jpg">
  </div>
    
  <!-- begin title and description -->
  <div class="col-md-4">
    <h1 class="h1Header">DASPOTS. FAVORITE PLACES SAVED.</h1>
    <p class="pLeft">
    Favorite restaurants of people who are passionate about food - they work in the industry, they care about great ingredients and they leave no bad vibes.
    <br>
    <br>
    <br>
    <!-- begin link -->
    <a class="linkLeft" href="{{url_for('recommender_overview')}}">MEET THE INSIDERS</a>
    <!-- end link -->
    </p>
  </div>
  <!-- end title and description -->

</div>
<!--   end jumbotron -->

<!-- begin subdevider -->
<div class="container">
  <p class="subdevider">ALL FAVORITE PLACES</p>
</div>
<!-- end subdevider -->
