<!-- jumbotron -->
 <div class="container-fluid">
    
  <!-- picture -->
  <div class="col-md-8">
    <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/xThtatUFtMGq569Lyg" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
  </div>

  <!-- begin title and description -->
  <div class="col-md-4">
    <h1 class="h1Header">FAVORITE PLACES SAVED.</h1>
    <p class="pLeft">
    Only the best restaurants in NYC recommended by people who are passionate about food - they work in the industry, they care about great ingredients and they leave no bad vibes. 
    <br>
    <br>
    This week award winning photographers James and Karla Murray will share all their favorite diners in NYC with you! 
    <br>
    <br>
    <br>
    <!-- begin link -->
    <a class="linkLeft" href="https://www.daspots.com/recommender/5684049913839616/">MEET JAMES AND KARLA</a>
    <!-- end link -->
    </p>
  </div>
  <!-- end title and description -->

</div>
