h1.h1CenterBig {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 90px;
  font-size: 2em;
  color: black;
}

h1.h1LeftBig {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  float: left;
  font-weight: bold;
  margin-top: 90px;
  font-size: 2em;
  color: black;
}

h1.h1RightBig {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: right;
  float: right;
  font-weight: bold;
  margin-top: 90px;
  font-size: 2em;
  color: black;
}

p.pCenterBig {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.0em;
  color: black;
}

p.pLeftBig {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.0em;
  color: black;
}

p.pRightBig {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.0em;
  color: black;
}

.linkLeft {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 15px 15px 15px 15px;
  font-size: 0.9em;
  display: inline-block;
  margin-bottom: 120px;
  border: none;
}

.linkRight {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
  float:right;
  font-size: 0.9em;
  padding: 15px 15px 15px 15px;
  margin-bottom: 120px;
  border: none;
}