h1.aboutTitle {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	color: #03a9f4;
	text-align: left;
}

p.pLeft {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	color: black;
	text-align: left;
}

a.linkEmail {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1em;
 }


