/* Acordeon styles */

.box {
  margin-bottom: @bottom_margin_big;
  box-shadow: @shadow;
  background-color: @color_5;
}

.tab {
  position: relative;
  width: @full_width;
  color: @color_4;
  overflow: hidden;
  border: 0.5px solid @color_8;
  background-color: @color_8;
}

.tab4 {
  position: relative;
  width: @full_width;
  overflow: hidden;
  border-top: 0.5px solid @color_9;
  height: 2em;
}

extraInfo {
  border: 0.5px solid @color_9;
}

#tab-one {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  display: block;
  color: black;
  background: @color_8;
}

.blue label {
    background: black;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background-color: @color_5;
  -webkit-transition: max-height 0.1s;
  -o-transition: max-height 0.1s;
  transition: max-height 0.1s;
}

.blue .tab-content {
  background: #3498db;
}

.tab-content p {
  margin: 0.3em;
}

/* :checked */
input:checked ~ .tab-content {
  max-height: 100em;
}

/* Icon */
  label::after {
  position: absolute;
  background-color: @color_8;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 2em;
  line-height: 1;
  text-align: center;
  -webkit-transition: all .01s;
  -o-transition: all .01s;
  transition: all .01s;
  margin-bottom: 15px;
}

input[type=checkbox] + label::after {
  content: "+";
  font-size: 20px;
  color: @color_4;
}

input[type=radio] + label::after {
  content: "\25BC";
  font-size: 20px;
}

input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
  color: @color_4;
  font-size: 20px;
}

input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
  color: @color_4;
  font-size: 20px;
}

.iconlist {
  background-color: @color_8;
}




















  