/* Acordeon styles */

.box {
  margin-bottom: @bottom_margin_big;
  box-shadow: @shadow;
  backgroound-color: @color_5;
}

.tab {
  position: relative;
  width: @full_width;
  color: @color_5;
  overflow: hidden;
  border-top: 1px solid #eeeeee;
}

.tablinks {
  margin-top: 5px;
  border: none;
  width: 50%;
}

/* Style the buttons inside the tab */
.tab button {
    font-family: @font_big;
    background-color: @color_5;
    color: @color_4;
    float: left;
    transition: 0.3s;
    font-size: @font_size_small;
}

/* Change background color of buttons on hover */
.tab button:hover {
   text-decoration: underline;
   color: @color_4;
}


/* Style the tab content */
.tabcontent {
    display: none;
}

#tab-one {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  display: block;
  color: black;
  background-color: @color_5;
  margn-bottom: @bottom_margin_0;
}

.hr {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    border: 0;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background-color: @color_5;
  -webkit-transition: max-height 0.1s;
  -o-transition: max-height 0.1s;
  transition: max-height 0.1s;
}

.blue .tab-content {
  background: #3498db;
}

.tab-content p {
  margin: 0.3em;
}

/* :checked */
input:checked ~ .tab-content {
  max-height: 100em;
}

/* Icon */
  label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 2em;
  line-height: 2;
  text-align: center;
  -webkit-transition: all .01s;
  -o-transition: all .01s;
  transition: all .01s;
  cursor: pointer;
}

input[type=checkbox] + label::after {
  content: "+";
  color: @color_7;
}

input[type=radio] + label::after {
  content: "\25BC";
}

input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
  color: @color_7;
}

input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
  color: @color_7;
}

  