.iconList {
  display: inline-block;
}

/* Acordeon styles */

.tab {
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 0 4px 2px -2px gray;
}

#tab-one {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  display: block;
  padding: 0 0 7px 5px;
  color: black;
  background: white;
}

.blue label {
  background: black;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  -webkit-transition: max-height 0.1s;
  -o-transition: max-height 0.1s;
  transition: max-height 0.1s;
  box-shadow: 0 4px 2px -2px gray;
}

.blue .tab-content {
  background: #3498db;
}

.tab-content p {
  margin: 0.3em;
}

/* :checked */
input:checked ~ .tab-content {
  max-height: 100em;
}

/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

input[type=checkbox] + label::after {
  content: url("/p/img/ic_keyboard_arrow_down_black_24px.png");
  margin-top: 10px;
} 

input[type=radio] + label::after {
  content: url("/p/img/ic_keyboard_arrow_down_black_24px.png");
  margin-top: 10px;
}

input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}

input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

.placeholder {
    width: 300px;
    height: 168px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent; 
}
