h1.headerCenter{
  font-family: 'Roboto Condensed', sanss-serif;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.1em;
}

h1.h1CenterBig {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 70px;
  font-size: 2em;
  color: black;
}

h1.h1LeftBig {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  font-weight: bold;
  margin-top: 300px;
  font-size: 2.5em;
  color: white;
}

p.pLeftBig {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.1em;
  color: white;
}

p.pCenterBig {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.1em;
  color: black;
}

h1.thumbnailTitle {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0px 7px 0px 7px;
  text-align: left;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-bottom: 3px;
  font-size: 1.5em;
}

p.pLeft {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: 3px;
  font-size: 0.9em;
  color: grey;
  padding: 2px 7px 0px 7px;
}

.copyright {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 7px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-size: 0.7em;
  color: grey;
  border-top: solid 1px grey;
  padding-top: 20px;
}








