@font_small: 'Roboto', sans-serif;
@font_big: 'Roboto Condensed', sans-serif;
@font_weight_bold: bold;
@font_size_big: 2em;
@font_size_medium_big: 1.1em;
@font_size_medium: 0.9em;
@font_size_small: 0.7em;
@color_4: black;
@color_5: white;
@color_6: grey;
@color_7: #ff3c8b;
@color_8: #20e9a3;
@color_9: #EEEEEE;
@bottom_margin_small: 10px;
@bottom_margin_big: 30px;
@bottom_margin_extra_big: 90px;
@bottom_margin_small_jumbotron: 100px;
@bottom_margin_jumbotron: 280px;
@bottom_margin_0: 0px!important;
@padding_small: 7px;
@padding_medium: 12px;
@padding_button: 12px 8px 12px 8px;
@padding_extra_small: 2px;
@margin_header: 300px;
@full_width: 100%;
@height_auto: auto;
@shadow: 0 4px 2px -2px gray;
@input_border: 2px solid @color_8;
@input_border_black: 1px solid @color_4;
@icon_medium: 17px;

p.pCenterBig {
  font-family: @font_small;
  text-align: center;
  margin-top: @padding_small;
  margin-bottom: @bottom_margin_big;
  margin-left: @bottom_margin_big;
  margin-right: @bottom_margin_big;
  font-size: @font_size_medium_big;
  color: @color_4;
}

p.psearchbar {
  font-family: @font_small;
}

p.pCenterGrey {
  font-family: @font_small;
  text-align: center;
  font-size: @font_size_medium;
  color: @color_6;
  padding-top: @padding_small;
  margin-bottom: @bottom_margin_big;
}

p.pCenter {
  font-family:@font_big;
  text-align: center;
  font-size: @font_size_medium_big;
  color: @color_4;
  font-weight: bold;
  margin-top: @padding_small;
}

p.pCenterHeader {
  font-family: @font_small;
  text-align: center;
  margin-bottom: 130px;
  font-size: @font_size_medium_big;
  color: @color_5;
}

p.pLink {
  padding-top: @padding_extra_small;
}

p.pLeft {
  font-family: @font_small;
  text-align: left;
  font-size: @font_size_medium;
  color: @color_4;
  padding-top: @padding_small;
  padding-left: @padding_small;
  margin-bottom: @bottom_margin_small;
}

p.pLeftBig {
  font-family: @font_small;
  text-align: left;
  font-size: @font_size_medium;
  color: @color_4;
  padding-top: @padding_small;
  padding-left: @padding_small;
  margin-bottom: @bottom_margin_small;
}

p.subdevider {
  font-family: @font_big;
  text-align: center;
  font-weight: @font_weight_bold;
  font-size: @font_size_medium_big;
  color: @color_4;
  margin-top: @bottom_margin_big;
}

p.pmap_list {
  font-family: @font_big;
  text-align: center;
  font-weight: @font_weight_bold;
  font-size: @font_size_medium;
  color: @color_4;
  margin-bottom: @bottom_margin_small;
}

h1.thumbnailTitle {
  font-family: @font_big;
  text-align: left;
  font-weight: @font_weight_bold;
  color: @color_4;
  font-size: @font_size_medium;
  position: relative;
  padding-left: @padding_small;
  margin-top: @bottom_margin_small;
  margin-bottom: @bottom_margin_0;
  background-color: @color_9;
}

h1.h1Header {
  font-family: @font_big;
  text-align: left;
  font-weight: @font_weight_bold;
  margin-top: @bottom_margin_big;
  font-size: 4em;
  color: @color_7;
}

h1.h1HeaderWhite {
  font-family: @font_big;
  text-align: left;
  font-weight: @font_weight_bold;
  margin-top: @bottom_margin_big;
  font-size: 2.5em;
  color: @color_5;
}

h1.h1LeftBig {
  font-family: @font_big;
  text-align: left;
  font-weight: @font_weight_bold;
  margin-top: @bottom_margin_small;
  font-size: @font_size_medium_big;
  color: @color_4;
  padding-left: @padding_small;
}

h1.h1CenterHeader {
  font-family: @font_big;
  text-align: center;
  font-weight: @font_weight_bold;
  margin-top: @bottom_margin_jumbotron;
  font-size: @font_size_big;
  color: @color_5;
}

h1.h1CenterSmall {
  font-family: @font_big;
  text-align: center;
  font-weight: @font_weight_bold;
  margin-top: @bottom_margin_big;
  font-size: @font_size_big;
  color: @color_4;
}

h1.h1CenterBig {
  font-family: @font_big;
  text-align: center;
  font-weight: @font_weight_bold;
  margin-top: @bottom_margin_extra_big;
  font-size: @font_size_big;
  color: @color_4;
}

h1.h1CenterMedium {
  font-family: @font_big;
  text-align: center;
  font-weight: @font_weight_bold;
  margin-top: @bottom_margin_big;
  font-size: @font_size_big;
  color: @color_4;
}

.card-title {
  font-family: @font_big;
  text-align: center;
  font-weight: @font_weight_bold;
  margin-top: @bottom_margin_big;
  font-size: @font_size_medium_big;
  color: @color_4;
}

.copyright {
  font-family: @font_big;
  margin-top: @bottom_margin_extra_big;
  margin-bottom: @bottom_margin_big;
  margin-left: @padding_small;
  font-size: @font_size_small;
  color: @color_6;
  border-top: solid 1px grey;
  padding-top: @bottom_margin_big;
}