.navbar-default {
  color: black;
  font-size: 1.1em;
  height: 50px;
  background: white;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font-family: 'Roboto Condensed', sans-serif;
}

.searchIcon {
	width: 20px;
}