.mc-field-group {
  font-size: @font_size_medium;
  font-family: @font_small;
}

input[type=email], select {
    width: @full_width;
    padding: @padding_button;
    margin-top: @padding_small;
    display: inline-block;
    border: @input_border;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: @font_small;
}

input[type=password], select {
    width: @full_width;
    padding: @padding_button;
    display: inline-block;
    border: @input_border;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: @font_small;
}

input[type=text], select {
    width: @full_width !important;
    padding: @padding_button;
    display: inline-block;
    border:  @input_border;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: @font_small;
}

input[type=submit] {
    width: @full_width;
    background-color: @color_4;
    color: @color_5;
    padding: @padding_button;
    display: inline-block;
    border: none;
    border-radius: 0px;
    font-family: @font_small;
    margin-top: @bottom_margin_big;
}

input[type=file] {
    width: @full_width;
    background-color: @color_5;
    color: @color_4;
    padding: @padding_button;
    display: inline-block;
    border:  @input_border;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: @font_small;
}

input[type=submit]:hover {
    background-color: F8F8F8;
    color: black;
}

#mce-FNAME {
    margin: 24px 0;
}
