.jumbotronNewsletter {
	background-image: url("/p/img/DASPOTS_FBHEADER-02-grey.jpg");
 	background-size: cover;
 	height: auto;
}

.jumbotronHeader {
  background-image: url("/p/img/DSC09382.JPG");
  background-size: cover;
  height: auto;
}

.jumbotronRecommender {
  background-image: url("/p/img/jpeg mark.jpg");
  background-size: cover;
  height: auto;
}

.thumbnailImage {
  width: 100%;
  height: auto;
}

.jumbotronFooter {
background-color: black;
background-size: cover;
}