.shadow {
    box-shadow: 0 4px 2px -2px gray;
    padding: 0 0 7px 5px;
}

.box {
  margin-bottom: 30px;
}

.navbar-fixed-top {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: black !important; 
  background: white !important; 
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.dropdown-menu {
    font-family: 'Roboto Condensed', sans-serif;
    color: #040404;
    min-width: 160px;
    box-shadow: none;
    padding: 12px 16px;
    z-index: 1;s
    border: black 1px solid !important;
    border-radius: 0px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


img.img-fluid {
    width: 100%;
    width: 100% \9;
    height: auto;
}

.addPadding {
  padding: 3px 0px 0px 5px;
}

img.recommenderImage {
    width: 100% \9;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

ul.additionalLinks {
    margin-bottom: 0px;
}

.image-wrapper {
    padding-bottom: 56%;
    border: 0px solid #F8F8F8;
    position: relative;
}

.img-fluid {
    height: auto;
    max-width: 100%;
    width: 100% \9; width: 100%;
    height: 0;
   
}

.map {
    height: 50em;
}

.gm-style-iw div * {
    overflow:hidden!important;
 }

.less_padding {
  padding-bottom: 10px !important;
}

.scrollFix {
    overflow: hidden;
    white-space: nowrap;
}
