img.img-fluid {
  width: @full_width;
  width: 100% \9;
  height: @height_auto;
}

img.img-fluid-welcome {
  width: @full_width;
  width: 100% \9;
  height: @height_auto;
  margin-bottom: @bottom_margin_big;
}

img.recommenderImage {
    width: 100% \9;
    width: @full_width;
    height: @height_auto;
    margin-top: @bottom_margin_big;
}

img.gif {
  margin-top: @bottom_margin_extra_big;
  width: 40%;
  height: auto;
}

.addPadding {
  margin-bottom: @padding_small;
}

.shadow {
  box-shadow: @shadow;
  padding: 0 0 7px 5px;
}

.navbarListElement {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 0px;
  margin-bottom: 8px;
  background-color: @color_5;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-fixed-top {
  font-family: @font_big;
  font-size: @font_size_medium;
  color: @color_4; 
  background: @color_5; 
  border: 0 !important;
  box-shadow: none !important;
  margin-bottom: @bottom_margin_small !important;
}

.navbar {
   background: @color_5;
}

.navbar-form {
   background: @color_5!important;
}

.navbar-toggle {
  border: none !important;
  border-radius: 0px;
}

.nav {
    background-color: white;
}

.dropdown {
  position: relative !important; 
  z-index: 1 !important; 
  z-index: 9999 !important;
}

.dropdown-menu {
    font-family: @font_big;
    color: @color_6;
    min-width: 160px;
    box-shadow: none;
    padding: 12px 16px;
    z-index: 1;
    border: black 1px solid !important;
    border-radius: 0px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    position: relative; 
}

.map {
    height: 50em;
}

.gm-style-iw div * {
    overflow:hidden!important;
 }

.maplist {
    position: absolute;
    width: @full_width;
    left: 0;
    text-align: center;
    margin:0 auto;
    color: @color_4;
    font-size: @font_size_medium_big;
}

.extra-margin {
  margin-top: 7px;
}


.floatCenter {
   text-align: center;
}

.wrap {
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
}

.card box {
  width: 100%;
  text-align:left;
}

#loginform {
 display:none;
}

#restaurant {
    visibility: visible;
}




