.shadow {
    box-shadow: 0 4px 2px -2px gray;
    padding: 0 0 7px 5px;
}

.followButton {
	background-color: #ff3c8b;
	border-radius: 0px;
	color: white;
	margin-top: 15px;
	padding: 10px 5px 10px 5px;
	margin: 0 auto!important;
}

