@import "../../ext/font-awesome/less/font-awesome";
@import "../../ext/bootstrap/less/bootstrap";

@import "base";
@import "auth";
@import "variables";
@import "test";
@import "mixins";
@import "signin";
@import "user";
@import "resource";
@import "welcome";
@import "header";
@import "user_menu";
@import "about";
@import "contact";
@import "newsletter";
@import "jumbotronFooter";
@import "jumbotronNewsletter";
@import "recommender-overview";
@import "bootstrap-tagsinput";
@import "search";


.blue {
     color: #03a9f4;
}

#loginform
{
 box-sizing:border-box;
 display:none;
}

#restaurant {
    visibility:visible;
}

.badge{
    padding: 4px 7px;
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

 .nav {
    background-color: white;

}