.jumbotronHeader {
  background-image: url("/p/img/taco west village corner.jpg");
  background-size: cover;
  height: auto;
  padding: 5px 5px 0px 5px;
}

.logoWelcome {
  width: 100%;
  margin: auto;
  display: block;
  padding: 140px 0px 30px 0px;
}

p.pCenterBigWhite {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: justify;
  margin-bottom: 90px;
  font-size: 1em;
  color: white;
  padding: 10px 0px 10px 0px;
}

h1.h1LeftHeader {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  font-weight: bold;
  margin-top: 140px;
  font-size: 4em;
  color: black;
}

h2.h2LeftHeader {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  font-size: 2em;
  color: black;
}

p.pLeftHeader {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 1.0em;
  color: black;
}

p.pLeft {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: 3px;
  font-size: 0.9em;
  color: grey;
  padding: 2px 7px 0px 7px;
}

a.thumbnailKeyword {
  font-family: 'Roboto Condensed', sans-serif;
  float: right;
  color: grey;
  font-size: 0.9em;
}

h1.thumbnailTitle {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0px 7px 0px 7px;
  text-align: left;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-bottom: 3px;
  font-size: 1.5em;
}

.thumbnailImage {
	width: 100%;
	height: auto;
}

a.thumbnailAddress {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: grey;
  margin-top: 10px;
  font-size: 0.8em;
}

a.linkRecommended {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0px 7px 0px 7px;
  font-style: normal;
  text-align: left;
  color: grey;
  text-decoration: underline;
  font-size: 0.8em;
}

.iconList {
  display: inline-block;
}

/* Acordeon styles */

.tab {
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 0 4px 2px -2px gray;
}

#tab-one {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  display: block;
  padding: 0 0 7px 5px;
  color: black;
  background: white;
}

.blue label {
  background: black;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  box-shadow: 0 4px 2px -2px gray;
}

.blue .tab-content {
  background: #3498db;
}

.tab-content p {
  margin: 0.3em;
}

/* :checked */
input:checked ~ .tab-content {
  max-height: 100em;
}

/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

input[type=checkbox] + label::after {
  content: "+";
}

input[type=radio] + label::after {
  content: "\25BC";
}

input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}

input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

.postIcon {
  width: 20px;
  line-height: 3;
  margin-top: 3px;
  padding-right: 5px;
}

