# extends 'base.html'

<!-- jumbotron title -->
# block header
<div class="container-fluid">
  <div class="jumbotronRecommender">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-5">
      <br>
      <br>
      <h1 class="h1LeftBigBlack">MEET THE INSIDERS</h1>
      <p class="pLeftBigBlack">
      On DASPOTS only recommendations from people who work in the industry, care about great ingredients and leave no bad vibes.
      </p>
      <br>
    </div>
    <div class="col-sm-6 col-md-7"></div>
  </div>
  </div>
  </div>
</div>

# endblock

# block content
  <div class="container">
    <div class="row">
    {%- for recommender_db in recommender_dbs %}
      <div class="col-6 col-sm-4">
        <div class="box shadow">

          <!-- image -->
          <img class="recommenderImage" src="{{recommender_db.image_url}}">

          <!-- name recommender -->
          <div>
          <h1 class="thumbnailTitle">
            <!-- <a href="{{url_for('recommender_view', recommender_id=recommender_db.key.id())}}"> -->
              {{recommender_db.name}}
            <!-- </a> -->
          </h1>
          </div>

          <!-- all spots recommender -->
          <div>
          <a class="linkRecommendedBy" href="{{url_for('list_recommenders', recommender=recommender_db.name_lower)}}">
          SEE ALL SPOTS BY {{recommender_db.name}}
          </a>
          </div>

          <!-- bio recommender -->
          <br>
          <p class="pLeft">{{recommender_db.bio}}</p>
          
          <!-- external link -->
          <a class="linkWebsite" href="{{recommender_db.website_url}}">            {{recommender_db.website_url}}
          </a>







<!--           <p role="button" onclick="followFunction(this, '{{recommender_db.key.id()}}')"
                class="{{recommender_db.bootstrap_class_list}}">
              {{recommender_db.follow_text}}
          </p> -->
        </div>
      </div>
      {%- endfor %}
    </div>

</div>

# endblock
