# extends 'base.html'

# block header

# endblock

# block content
  <div class="container">

    <div class="row">
    {%- for recommender_db in recommender_dbs %}
      <div class="col-6 col-sm-3">
        <div class="box">
          <img class="thumbnailImage" src="{{recommender_db.image_url}}">
          <h2>
            <a class="thumbnailTitle" href="{{url_for('recommender_view', recommender_id=recommender_db.key.id())}}">
              {{recommender_db.name}}
            </a>

          </h2>

             <p role="button" onclick="followFunction(this, '{{recommender_db.key.id()}}')"
                class="{{recommender_db.bootstrap_class_list}}">
              {{recommender_db.follow_text}}
            </p>
          <br>
          <i>
            <a class="linkRecommended" href="{{url_for('list_recommenders', recommender=recommender_db.name_lower)}}">
              ALL RECOMMENDATIONS BY: {{recommender_db.name}}</a>
          </i>

            <p class="pLeft">{{recommender_db.bio}}</p>
        </div>
      </div>
      {%- endfor %}
    </div>

</div>

# endblock
