# extends 'base.html'

# block content

# include 'bit/popup_loginform_follow.html'
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-2"></div>
    <div class="col-sm-6 col-md-8">
        <center>
          <img src="{{recommender_db.image_url}}">
        </center>
          <h1 class="h1CenterBig">{{title}}</h1>
      <br>
          <p class="pCenterBig">
            <a class="linkCenter" href="{{url_for('list_recommenders', recommender=recommender_db.name_lower)}}">
            All spots by {{title}}</a>

          </p>

        <hr>
        <p class="pCenterBig">{{recommender_db.bio}}<br><br>
          <a class="linkCenter" href="{{recommender_db.website_url}}">{{recommender_db.website_url}}</a></p>
    </div>
    <div class="col-sm-6 col-md-2"></div>
  </div>
</div>

# endblock
