# extends 'base.html'
# block content
# include 'bit/popup_loginform_follow.html'

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-2"></div>
    <div class="col-sm-6 col-md-8">
    <img src="{{recommender_db.image_url}}">
      <div class="recommender">
        <div class="page-header">
        <!--  name recommender -->
        <h1 class="h1CenterBig">{{title}}</h1>
        <!--  follow button -->
        <span role="button" onclick="followFunction(this, '{{recommender_db.key.id()}}')"
                      class="followButton">
                  {{follow_text}}
        </span>
        </div>
        <!--  bio recommender -->
        <p class="pCenterBig">{{recommender_db.bio}}</p>
        <div class="inline">
        <!--  website recommender -->
        <p class="linkNewsletter"><a class="linkNewsletterBlack" href="{{recommender_db.website_url}}">{{recommender_db.website_url}}</a></p>
        <!--  get all recommendations -->
        <p class="linkNewsletter"><a class="linkNewsletterBlack" href="{{url_for('list_recommenders', recommender=recommender_db.name_lower)}}">All Recommendations</a></p>
        <!--  get back button -->
        </div>
        <p>
          <a href="{{url_for('recommender_list')}}">Back</a>
        </p>

        {% for url  in url_list %}
        <p><img src="{{url}}"></p>
       {% endfor %}
      </div>
    </div>
    <div class="col-sm-6 col-md-2"></div>
  </div>
</div>
      
# endblock
