# extends 'base.html'
# block header

<!-- jumbotron -->
<div class="container-fluid">
  <!-- picture -->
  <div class="col-md-8">
    <img class="img-fluid-welcome" src="/p/img/Nick West_1000x561.jpg">
  </div>

  <!-- begin title and descrition -->
  <div class="col-md-4">
    <h1 class="h1Header">MEET NICK</h1>
    <p class="pLeft">
    "Nick keeps busy eating and reviewing burgers and sharing them on his his instagram page, @alltheburgers, based in NYC, while also grabbing bites in far off places like Morocco, Chile, and Colombia. "As an instagrammer, it's easy to get sucked into the free-food for PR trap. I'm proud to offer an unbiased take on the city's ever-evolving burger game." As ATB is a side passion, he also runs a media site, www.newlibrary.nyc while advising startups and working in eCommerce by day."
    <br>
    <br>
    <br>
    <!-- begin link -->
    <a class="linkLeft" href="https://www.daspots.com/post/q/recommender%3Dnick%2C%20creator%20of%20alltheburgers">DISCOVER NICK'S FAV' SPOTS</a>
    <!-- end link -->
    </p>
  </div>
  <!-- end title and caption -->

</div>
<!-- end jumbotron -->

<!-- begin subdevider -->
<div class="container">
  <div class="floatCenter">
    <div class="wrap"><i class="fa fa-bolt" style="font-size:28px;color:#20e9a3"></i></div>
    <div class="wrap"><p class="subdevider">ALL INSIDERS</p></div>
    <div class="wrap"><i class="fa fa-bolt" style="font-size:28px;color:#20e9a3;"></i></div>
  </div>
</div>
<!-- end subdevider -->

# endblock
# block content
  
<!-- begin places grid -->
<div class="container">
  <div class="row">
  {%- for recommender_db in recommender_dbs %}
    <div class="col-6 col-sm-4">

     <!-- begin thumbnail -->
      <div class="box shadow">

        <!-- image -->
        <img class="recommenderImage"  src="{{recommender_db.image_url}}">

        <!-- name recommender -->
        <div>
          <h1 class="h1LeftBig">
            <!-- <a href="{{url_for('recommender_view', recommender_id=recommender_db.key.id())}}"> -->
              {{recommender_db.name}}
            <!-- </a> -->
          </h1>
        </div>

        <!-- all spots recommender -->
        <div>
          {% set q = "recommender=" ~ recommender_db.name_lower %}
          <a class="linkRecommendedByColor" href="{{url_for('post_list_q', query=q, city=city)}}"><span class="glyphicon glyphicon-arrow-right"></span>
          SEE ALL SPOTS BY {{recommender_db.name}}
          </a>
        </div>

        <!-- bio recommender -->
        <br>
        <p class="pLeft">{{recommender_db.bio}}</p>
          
        <!-- external link -->
        <a class="linkWebsite" href="{{recommender_db.website_url}}">            {{recommender_db.website_url}}
        </a>

        <!-- <p role="button" onclick="followFunction(this, '{{recommender_db.key.id()}}')" class="{{recommender_db.bootstrap_class_list}}">
        {{recommender_db.follow_text}}
        </p> -->

        </div>
        <!-- end thumnail -->

      </div>
      {%- endfor %}
      <!-- grid -->
    
  </div>
  <!-- end row -->

</div>
<!-- end container -->

# endblock