# extends 'base.html'

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <p>{{recommender_db.bio}}</p>
  <p><a href="{{recommender_db.website_url}}">{{recommender_db.website_url}}</a></p>
  <p>{{recommender_db.image_url}}</p>
  <p><a href="{{url_for('list_recommenders', recommender=recommender_db.name_lower)}}">All Recommendations</a> </p>
  <hr>
  <p>
    <a href="{{url_for('recommender_list')}}">Back</a>
  </p>
  {% for url  in url_list %}
  <p><img src="{{url}}"></p>
 {% endfor %}

# endblock
