# extends 'base.html'

# block content

<!--  Jumbotron Great People -->
<div class="jumbotronPeople">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4"></div>
    <div class="col-sm-6 col-md-4">
      <h1 class="h1CenterBig">OUR MISSION</h1>
      <p class="pCenterBig">We share recommendations of people who are passionate about food - they grow it, make it, serve it, style it, enjoy it and everything in between. We will help you work every last one of your taste buds.</p>
    </div>
    <div class="col-sm-6 col-md-4"></div>
  </div>
  </div>
</div>

<!--  Jumbotron Great People -->
<div class="jumbotronPeople">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <h1 class="h1LeftBig">RECOMMENDED BY PEOPLE WHO LIVE FOR FOOD</h1>
      <p class="pLeftBig">We share recommendations of people who are passionate about food - they grow it, make it, serve it, style it, enjoy it and everything in between. We will help you work every last one of your taste buds.</p>
      <button class="linkLeft" href="/">MEET OUR PEOPLE</button>
    </div>
    <div class="col-sm-6 col-md-4"></div>
    <div class="col-sm-6 col-md-4"></div>
  </div>
  </div>
</div>

<!--  Jumbotron Great People -->
<div class="jumbotronPeople">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4"></div>
    <div class="col-sm-6 col-md-4"></div>
    <div class="col-sm-6 col-md-4">
      <h1 class="h1RightBig">RECOMMENDED BY PEOPLE WHO LIVE FOR FOOD</h1>
      <p class="pRightBig">We share recommendations of people who are passionate about food - they grow it, make it, serve it, style it, enjoy it and everything in between. We will help you work every last one of your taste buds.</p>
      <button class="linkRight" href="/">MEET OUR PEOPLE</button>
    </div>
  </div>
  </div>
</div>

<div class="jumbotronNewsletter">
  <img class="newsletterIcon" src="https://i.imgur.com/PCeLZK8.png">
      <h1 class="headerCenter">SIGN UP FOR DASPOTS NEWSLETTER</h1>
      <h2 class="subheaderCenter"> Be the first to know about the latest updates, places and offers from DASPOTS</h2>
      <p class="linkNewsletter"><a class="linkNewsletter" href={{url_for('newsletter')}}">SIGN ME UP</a></p>
</div>

# endblock
