# extends 'base.html'
# block content


<div class="jumbotronBlank">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-2"></div>
    <div class="col-sm-6 col-md-8">
      <h1 class="h1CenterBig">OUR MISSION</h1>
      <p class="pCenterBig">We are here to help you work every last one of your taste buds.
      <h1 class="h1CenterBig">PLACES RECOMMENDED BY INSIDERS</h1>
      <p class="pCenterBig">On DASPOTS only recommendations from people who are passionate about food - they grow it, make it, serve it, style it, enjoy it and everything in between. They work in the food industry, they care about great ingredients and they leave no bad vibes.
      <br>
      <br>
      <br>
      <a class="linkCenter" href="{{url_for('recommender_overview')}}">MEET THE INSIDERS</a>
      <br>
      <br>
      <br>
      </p>
      <h1 class="h1CenterBig">ONLY GENUINELY GOOD PLACES</h1>
      <p class="pCenterBig">Discovering great places to grab a bite and have a drink in New York should be fun and easy. That's why we are here. We aren't your everyday mainstream recommendation site...we just share the cool, undiscovered and authentic places by insiders who love food as much as you. 
      <br>
      <br>
      <br>
      <a class="linkCenter" href="{{url_for('landing_page')}}">DISCOVER OUR FAVORITE SPOTS</a>
        <br>
      <br>
      <br>
      </p>
    <div class="col-sm-6 col-md-2"></div>
    </div>
  </div>
  </div>
</div>

# endblock
