# extends 'base.html'

# block content

<!--  Jumbotron Contact -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-2"></div>
    <div class="col-sm-6 col-md-8">
      <h1 class="h1CenterBig">CONTACT</h1>
      <p class="pCenterBig">Feel free to drop us a line at <a href="mailto:hi@daspots.com?Subject=Hello%20again" target="_top" class="linkContact">hi@daspots.com</a> if you have feedback, want to work together, or simply want to chat. We'd love to hear from you!</p>
    </div>
    <div class="col-sm-6 col-md-2"></div>
  </div>
</div>

# endblock
