# extends 'base.html'

# block content

<!--  Jumbotron Great People -->
<div class="jumbotronPeople">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4"></div>
    <div class="col-sm-6 col-md-4">
      <h1 class="h1CenterBig">CONTACT</h1>
      <p class="pCenterBig">We share recommendations of people who are passionate about food - they grow it, make it, serve it, style it, enjoy it and everything in between. We will help you work every last one of your taste buds.</p>
    </div>
    <div class="col-sm-6 col-md-4"></div>
  </div>
  </div>
</div>

# endblock
