# extends 'base.html'
# block content


<div class="jumbotronBlank">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-2"></div>
    <div class="col-sm-6 col-md-8">
      <h1 class="h1CenterBig">FIND PLACES NEARBY,COMING SOON!</h1> 
      <p class="pCenterBig">
      When you press this button <i class="fa fa-map-marker" aria-hidden="true""></i>, we will display all favorite places sorted by distance from your location. Basically, it's a quick, local craving search.</p>
      <p class="pCenterBig">Sign up to our newsletter and we'll let you know when our geo-location is up and running!</p>
    <div class="col-sm-6 col-md-2"></div>
    </div>
  </div>
  </div>
</div>

# endblock
