# extends 'base.html'

# block header

<!--  Jumbotron Contact -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4"></div>
    <div class="col-sm-6 col-md-4">
      <h1 class="h1CenterBig">THIS PLACE LOOKS LONELY</h1>
      <p class="pCenterBig">{{error_message}}</p>
      <p class="linkNewsletter"><a class="linkNewsletterBlack" href="{{url_for('welcome')}}">EXPLORE PLACES</a></p>
    </div>
    <div class="col-sm-6 col-md-4"></div>
  </div>
</div>

# endblock

# block content
# endblock
