# extends 'base.html'

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Image</th>
        <th>Keywords</th>
        <th>Recommender</th>
      </tr>
    </thead>
    <tbody>
      # for post_db in post_dbs
        <tr>
          <td> <a href="{{url_for('post_update', post_id=post_db.key.id())}}">
              update
          </a></td>
          <td> <a href="{{url_for('post_view', post_id=post_db.key.id())}}">
                {{post_db.title}}
          </a></td>
          <td>{{post_db.content}}</td>
          <td><a href="{{post_db.view_url}}">{{post_db.view_url}}</a></td>
          <td>{{post_db.keywords}}</td>
          <td><a href="{{post_db.recommender_url}}">{{post_db.recommender}}</a></td>
        </tr>
      # endfor
    </tbody>
  </table>
# endblock
