# extends 'base.html'
# block header

<!-- jumbotron -->
<div class="container-fluid">

  <!-- picture -->
  <div class="col-md-8">
    <img class="img-fluid-welcome" src="/p/img/seamores7_1000x561.jpg">
  </div>

  <!--   begin title and description -->
  <div class="col-md-4">
    <h1 class="h1Header">YOUR GUIDE TO DELICIOUS SEAFOOD</h1>
    <p class="pLeft">
    Ever wonder where to eat delicious & sustainable seafood in New York City? Our seafood-spotter Kate Findlay-Shirras, creator of Best Fish Forward and contributor for Edible Brooklyn and Edible Manhattan, shared her favorite places with us! 
    <br>
    <br>
    <br>
    <!-- begin link -->
    <a class="linkLeft" href="https://www.daspots.com/post/q/seafood">DISCOVER FAV' SEAFOOD SPOTS</a>
    <!-- end link -->
    </p>
  </div>
  <!-- end title and description -->

</div>
<!-- end jumbotron -->

<!-- begin subdevider -->
<div class="container">
  <p class="subdevider">ALL GUIDES</p>
</div>
<!-- end subdevider -->

# endblock

