# extends 'base.html'
# block header

<!-- jumbotron -->
<div class="container-fluid">

  <!-- picture -->
  <div class="col-md-8">
    <img class="img-fluid-welcome" src="/p/img/seamores7_1000x561.jpg">
  </div>

  <!--   begin title and description -->
  <div class="col-md-4">
    <h1 class="h1Header">YOUR GUIDE TO DELICIOUS SEAFOOD</h1>
    <p class="pLeft">
    Ever wonder where to eat delicious & sustainable seafood in New York City? Our seafood-spotter Kate Findlay-Shirras, creator of Best Fish Forward and contributor for Edible Brooklyn and Edible Manhattan, shared her favorite places with us! 
    <br>
    <br>
    <br>
    <!-- begin link -->
    <a class="linkLeft" href="https://www.daspots.com/post/q/seafood">DISCOVER FAV' SEAFOOD SPOTS</a>
    <!-- end link -->
    </p>
  </div>
  <!-- end title and description -->

</div>
<!-- end jumbotron -->



<!-- begin subdevider -->
<div class="container">
  <div class="floatCenter">
    <div class="wrap"><i class="fa fa-bolt" style="font-size:28px;color:#20e9a3"></i></div>
    <div class="wrap"><p class="subdevider">ALL GUIDES</p></div>
    <div class="wrap"><i class="fa fa-bolt" style="font-size:28px;color:#20e9a3;"></i></div>
  </div>
</div>
<!-- end subdevider -->


<!-- UI post -->
  <div class="container" id="restaurant">
    <div class="row">
    <div class="col-6 col-sm-6">

      <!-- begin thumbnail -->
      <div class="box shadow">

        <!-- image -->
        <img class="recommenderImage"  src="/p/img/seamores7_1000x561.jpg">

        <!-- title -->
        <div>
          <h1 class="h1LeftBig">SPREADING FISH-LOVE</h1>
        </div>

        <!-- caption -->
        <p class="pLeft">Ever wonder where to eat delicious &sustainable seafood in New York City? Kate Findlay-Shirras, creator of Best Fish Forward and contributor for Edible Brooklyn and Edible Manhattan, shared her favorite places with us! </p>
          
        <!-- internal link spots-->
        <div>
          <a class="linkRecommendedByColor" href="https://www.daspots.com/post/q/recommender%3Dkate%2C%20creator%20of%20%27best%20fish%20forward%27"><span class="glyphicon glyphicon-arrow-right"></span>
          EXPLORE SPOTS 
          </a>
        </div>

        </div>
        <!-- end thumnail -->
    </div>

        <div class="col-6 col-sm-6">

         <!-- begin thumbnail -->
      <div class="box shadow">

        <!-- image -->
        <img class="recommenderImage"  src="/p/img/paulie_by Ben Hider_1000x561.jpg">

        <!-- title -->
        <div>
          <h1 class="h1LeftBig">MEET PAULIE GEE</h1>
        </div>

        <!-- caption -->
        <p class="pLeft">We asked Paulie Gee, owner of the eponymous pizzeria Paulie Gee's in Greenpoint Brooklyn about his favorite places in NYC. He gave us back a list with the best jewish delis, classic establishments, and everything in between.   </p>
          
        <!-- internal link spots-->
        <div>
          <a class="linkRecommendedByColor" href="https://www.daspots.com/post/q/paulie%20gee"><span class="glyphicon glyphicon-arrow-right"></span>
          EXPLORE SPOTS 
          </a>
        </div>

        </div>
        <!-- end thumnail -->
    </div>

    </div>
  </div>

  <!-- UI post -->
  <div class="container" id="restaurant">
    <div class="row">
    <div class="col-6 col-sm-6">

      <!-- begin thumbnail -->
      <div class="box shadow">

        <!-- image -->
        <img class="recommenderImage"  src="/p/img/vinnies 1_1000x561.jpg">

        <!-- title -->
        <div>
          <h1 class="h1LeftBig">NYC SLICE SPOTS</h1>
        </div>

        <!-- caption -->
        <p class="pLeft">Who better to trust than someone who eats on average 600 slices per year when it comes to the best pizza places in town? Mark Cersosimo shared some classic, accessible, greasy, and delicious pizza spots!</p>
          
        <!-- internal link spots-->
        <div>
          <a class="linkRecommendedByColor" href="https://www.daspots.com/post/q/slice"><span class="glyphicon glyphicon-arrow-right"></span>
          EXPLORE SPOTS 
          </a>
        </div>

        </div>
        <!-- end thumnail -->
    </div>

        <div class="col-6 col-sm-6">

         <!-- begin thumbnail -->
      <div class="box shadow">

        <!-- image -->
        <img class="recommenderImage"  src="/p/img/Bamontes8_1000x561.jpg">

        <!-- title -->
        <div>
          <h1 class="h1LeftBig">CLASSIC RESTAURANTS EVRYONE SHOULD TRY</h1>
        </div>

        <!-- caption -->
        <p class="pLeft">A list with the oldest and the greatest of New York's classic restaurants. They range from legendary steakhouses to gritty taverns and coal-fired pizzerias, and they all are quintessentially New York.  </p>
          
        <!-- internal link spots-->
        <div>
          <a class="linkRecommendedByColor" href="https://www.daspots.com/post/q/classic%20new%20york"><span class="glyphicon glyphicon-arrow-right"></span>
          EXPLORE SPOTS 
          </a>
        </div>

        </div>
        <!-- end thumnail -->
    </div>

    </div>
  </div>


# endblock

