# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>Hello, world!</p>
    </div>
  </div>
# endblock

# block content
  <div class="column">

       # for post_db in post_dbs
      <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-4">
          <h2>
            <a href="{{url_for('post_view', post_id=post_db.key.id())}}">
              {{post_db.title}}
            </a>
          </h2>
          <i>Recommended by:</i><a href="{{post_db.recommender_url}}"> {{post_db.recommender}}</a>
          <p>{{post_db.content}}</p>
          <img src="{{post_db.image_url}}" style="width:128px;height:128px;">
        </div>

        </div>
      # endfor

  </div>
# endblock
