# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>Hello, world!</p>
    </div>
  </div>
# endblock

# block content
  <div class="column">

       # for post_db in post_dbs
      <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-4">
          <h2>
            <a href="{{post_db.website}}">{{post_db.title}}</a>
          </h2>
          <i>Recommended by:</i><a href="{{post_db.recommender_url}}"> {{post_db.recommender}}</a>
          <p>
            {% for keyword in post_db.keyword_list %}
              <a href="{{url_for('post_list_q', query=keyword)}}">#{{keyword}}</a>
            {% endfor %}
          </p>
          <p>{{post_db.content}}</p>
          <img src="{{post_db.image_url}}" style="width:128px;height:128px;">
          <p><a href="{{post_db.google_maps_directions}}">{{post_db.adress}}</a> </p>
        </div>

        </div>
      # endfor

  </div>
# endblock
