# extends 'base.html'
# block content


<div class="jumbotronBlank">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-2"></div>
    <div class="col-sm-6 col-md-8">
      <h1 class="h1CenterBig">WORK WITH US</h1>
      <p class="pCenterBig">Are you or a friend passionate about food (you grow it, make it, serve it, style it, cover it...) and want to share your story and favorite places with other? Send us an email and we'll feature you and everything you do on DASPOTS! </p>
    </div>
    <div class="col-sm-6 col-md-2"></div>
  </div>
  </div>
</div>
 
<!-- 
<div class="jumbotronBlank">
  <div class="container">
  <div class="row">
    <div class="col-md-3">
        <h1 class="h1LeftSmallBlack">SHARE YOUR STORY</h1>
        <p class="pLeftNoPadding">Spread your love for food and inspire others by sharing the story behind what you do and why you do it.</p>
    </div>
    <div class="col-md-3">
        <h1 class="h1LeftSmallBlack">SUPPORT LOCAL BUSINESSES</h1>
        <p class="pLeftNoPadding">Uplift your community by sharing your favorite local businesses and reveal what makes your city unique.</p>
    </div>
    <div class="col-md-3">
        <h1 class="h1LeftSmallBlack">LET OTHERS DISCOVER GREAT FOOD</h1>
        <p class="pLeftNoPadding">Use your knowledge to let others discover great places to grab a bite and have a drink and experience New York City in a new way.</p>
    </div>
    <div class="col-md-3">
        <h1 class="h1LeftSmallBlack">CONNECT WITH LIKE MINDED PEOPLE</h1>
        <p class="pLeftNoPadding">Be part of a community of people who are passionate about food, work in the industry, care about great ingredients and leave no bad vibes.</p>
    </div>
  </div>
  </div>
</div> -->


<div class="jumbotronBlank">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-2"></div>
    <div class="col-sm-6 col-md-8">
      <h1 class="h1CenterBig">WE'D LOVE TO HEAR FROM YOU!</h1>
      <p class="pCenterBig">Are you or a friend passionate about food (you grow it, make it, serve it, style it, cover it...)and want to share your story and favorite places with others? Drop us a line at <a href="mailto:hi@daspots.com?Subject=Hello%20again" target="_top" class="linkContact">hi@daspots.com</a> and we'll feature you and everything you do on DASPOTS!</p>
    </div>
    <div class="col-sm-6 col-md-2"></div>
  </div>
  </div>
</div>


# endblock
